In [12]:
import pandas as pd
import requests
from io import StringIO

# List of URLs for scraping
urls = [
    "https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1697437279",
    "https://files.zillowstatic.com/research/public_csvs/zhvi/State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1697437279",
    "https://files.zillowstatic.com/research/public_csvs/zhvi/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1697437279",
    "https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv?t=1697437279"
]

dfs = []  # A list to store DataFrames

for url in urls:
    # Sending a HTTP request to the URL and save the response
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Using StringIO to convert the text data into a file-like object so it can be read into a pandas dataframe
        data = StringIO(response.text)
        
        # Reading the data into a pandas dataframe
        df = pd.read_csv(data)
        
        # Adding the dataframe to the list of dataframes
        dfs.append(df)
    else:
        print(f"Failed to retrieve data from {url}. Status code: {response.status_code}")

# Concatenating all the dataframes in the list into a single dataframe
final_df = pd.concat(dfs, ignore_index=True)

# Printing the first 5 rows of the concatenated dataframe to the console
print(final_df.head())

# Saving the concatenated dataframe to a new CSV file
final_df.to_csv('zillow_data.csv', index=False)

   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  121428.348338
1    394913         1     New York, NY        msa        NY  216218.985144
2    753899         2  Los Angeles, CA        msa        CA  222303.044856
3    394463         3      Chicago, IL        msa        IL  152289.701354
4    394514         4       Dallas, TX        msa        TX  125341.331449

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  121641.979730  121906.914111  122475.146355  123129.113541  ...
1  217137.793836  218065.112352  219944.218493  221890.097976  ...
2  223130.294238  224232.182526  226424.570068  228822.354722  ...
3  152430.677254  152699.168339  153367.107433  154170.557823  ...
4  125397.158916  125461.338304  125628.005434  125847.751482  ...

   1999-03-31  1999-04-30  1999-05-31  1999-06-30  1999-07-31  1999-08-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   1999-09-30  1999-10-31  1999-11-30  1999-12-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 341 columns]